body {
    background-color: blue;
    color: red;
    margin: 5;
}

div {
    padding: 10px;
    background-color: green;
}

div h1 {
    text-align: center;
}

div h6 {
    text-indent: 60%;
    display: block;
    padding: 10px;
}

form input{
    left: 30px;
    text-indent: 50%;
}











